    /* Menu */
    
    * {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        box-sizing: border-box;
    }
    
    *,
     ::after,
     ::before {
        box-sizing: border-box;
    }
    
    body {
        background: #e4cee0;
        font-family: Arial;
        margin: 0;
        padding: 0;
    }
    /* .main-border {
        position: fixed;
    }
     */
    
    .menu-header nav {
        height: 60px;
        background-color: white;
        position: sticky;
    }
    
    .main-border .img {
        width: 65px;
        height: auto;
        margin-top: 20px;
        margin-left: 15px;
    }
    
    .main-border a:hover {
        background-color: transparent;
    }
    
    .menu-header nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        float: right;
    }
    
    .menu-header nav ul li {
        display: inline-block;
        position: relative;
        list-style: none;
        color: black;
        text-decoration: none;
    }
    
    .menu-header nav ul li a {
        display: block;
        line-height: 50px;
        font-size: 17px;
        padding: 0 15px;
    }
    
    .menu-header nav ul ul {
        position: fixed;
        top: 50px;
        display: none;
    }
    
    .menu-header nav ul li:hover>ul {
        display: block;
    }
    
    .menu-header nav ul ul li {
        width: 200px;
        float: none;
        display: list-item;
        position: relative;
        background-color: #f5f5f5;
    }
    
    .menu-header nav ul li a:hover {
        color: #fe1488;
        background-color: transparent;
    }
    /* Slide-Show */
    
    .First-Section {
        box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 16%);
        background-color: #fafafa;
    }
    
    .First-Section .row {
        display: flex;
        /* flex-wrap: wrap;*/
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .slide-show-content .auto-container {
        padding: 140px 15px 140px 5px;
    }
    
    .slide-show-content {
        float: right;
        width: 800px;
        padding-left: 90px;
    }
    
    .slide-show-content h2 {
        font-weight: 300;
        margin: 0 0 30px;
        font-size: 3.5rem;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
    }
    
    .First-Section .banclr {
        text-align: justify;
        color: #888;
    }
    
    .First-Section p {
        /* position: relative; */
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    /* Fading animation */
    
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {
            opacity: .6
        }
        to {
            opacity: 1
        }
    }
    
    @keyframes fade {
        from {
            opacity: .6
        }
        to {
            opacity: 1
        }
    }
    /* For Button's */
    
    a {
        text-decoration: none;
    }
    
    .btn-style-one,
    .btn-style-one1 {
        position: relative;
        padding: 10px 30px;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        background-color: #e72d95;
        overflow: hidden;
        border-radius: 0px;
    }
    
    .theme-btn {
        display: inline-block;
        transition: all 700ms ease;
    }
    
    a:hover {
        color: rgb(8, 5, 5);
        background-color: #fff;
    }
    
    .btn-title:hover {
        color: rgba(236, 44, 195, 0.884);
    }
    /* Second-Section */
    
    .Second-Section {
        position: relative;
        padding: 48px 0 0px;
        box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 16%);
        display: block;
        background-color: #fafafa;
    }
    
    .Second-Section .auto-container {
        max-width: 1200px;
        height: auto;
        padding: 0 15px;
        margin: 0 auto;
        position: static;
    }
    
    .Second-Section .row {
        box-sizing: border-box;
    }
    
    .Second-Section .row {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
        justify-content: space-around;
    }
    
    .Second-Section .content-column {
        margin-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 600px;
    }
    
    .welcome-para {
        color: #998899;
        line-height: 26px;
        font-size: 16px;
        font-weight: 400;
    }
    
    .Second-Section .sec-title h2 {
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
        color: #1e1f36;
        line-height: 1.2em;
        font-size: 50px;
        margin: 0;
        margin-bottom: 5px;
        position: relative;
        display: inline-block;
        font-weight: 300;
    }
    
    .sec-title h3 {
        color: #998899;
        font-size: 35px;
        line-height: 1.0em;
        margin: 0;
    }
    /* Fun Section */
    
    .fun-fact-section {
        position: relative;
        padding: 100px 0 50px;
        box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 16%);
        background-color: #f5f5f5;
    }
    
    .fun-fact-section .count-box .count-text {
        position: relative;
        display: block;
        font-size: 60px;
        line-height: 1em;
        color: #22292f;
        text-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
        font-weight: 300;
        margin-bottom: 10px;
    }
    
    .fun-fact-section .fact-counter {
        position: relative;
    }
    
    .fun-fact-section .row {
        display: flex;
        flex-flow: wrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .counter-column {
        position: relative;
        text-align: center;
        margin-bottom: 50px;
        padding: 0 15px;
        width: 25%;
        box-sizing: border-box;
    }
    
    .fun-fact-section .auto-container {
        width: 100%;
        height: auto;
        padding: 0 15px;
        margin: 0 auto;
        position: static;
    }
    /* What WE DO Section */
    
    .what-we-do {
        position: relative;
        padding: 100px 0;
        box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 32%);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #fafafa;
    }
    
    .what-we-do .auto-container {
        width: 1200px;
        position: static;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .what-we-do .row {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
        justify-content: space-around;
    }
    
    .what-we-do .image-2 {
        width: 650px;
        padding: 0 10px;
    }
    
    .what-do-image {
        left: -79px;
    }
    
    .what-we-do .what-do-para {
        padding: 0 10px;
    }
    
    .what-we-do .sec-title {
        position: relative;
        margin-bottom: 70px;
    }
    
    .sec-title .title {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 1em;
        color: #7a7a7a;
        letter-spacing: 5px;
        margin-bottom: 15px;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
    }
    
    .what-we-do h2 {
        background-color: #fff;
        padding: 1rem;
        position: relative;
        box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 16%);
        z-index: 20;
        width: 110%;
        left: -10%;
    }
    
    .what-we-do .sec-title h2 {
        display: inline-block;
        font-size: 32px;
        line-height: 1.2em;
        color: #1e1f36;
        font-weight: 300;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
    }
    
    .what-we-do .sec-title .text {
        position: relative;
        font-size: 16px;
        line-height: 28px;
        color: #988898;
        margin-top: 20px;
    }
    
    .what-we-do button {
        border: 2px solid;
        background: none;
        width: 250px;
        height: 40px;
        cursor: pointer;
    }
    /* Schedule Section */
    
    .schedule-section {
        position: relative;
        padding: 65px 0 30px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 32%);
    }
    
    .schedule-section .auto-container {
        position: static;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .schedule-section .sec-title-1 {
        position: relative;
        margin-bottom: 70px;
        text-align: center !important;
    }
    
    .sec-title-1 .title-1 {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 1em;
        font-weight: 500;
        color: #7a7a7a;
        letter-spacing: 5px;
        margin-bottom: 15px;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
    }
    
    .sec-title-1 h2 {
        position: relative;
        display: inline-block;
        font-size: 32px;
        line-height: 1.2em;
        color: #1e1f36;
        font-weight: 300;
    }
    
    .sec-title-1 .text {
        position: relative;
        font-size: 18px;
        line-height: 28px;
        color: #888888;
        margin-top: 20px;
    }
    
    .schedule-section .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .schedule-section .row .col-lg-6 {
        width: 50%;
        padding: 0 15px;
    }
    
    .schedule-section .inner {
        padding-top: 65px;
    }
    
    .schedule-section .col-lg-6 .title {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 1em;
        font-weight: 500;
        color: #7a7a7a;
        letter-spacing: 5px;
        margin-bottom: 15px;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
    }
    
    .schedule-section .col-lg-6 h2 {
        position: relative;
        margin: 0;
        line-height: 1.6em;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
        font-size: 2rem;
        color: #777;
    }
    
    .schedule-section .col-lg-6 p,
    .text {
        position: relative;
        font-size: 17px;
        line-height: 26px;
        font-weight: 400;
        color: #888;
    }
    
    .schedule-section .col-lg-6 p {
        margin-bottom: 1rem;
        margin-top: 0;
    }
    
    .schedule-section .col-lg-6 .justi {
        text-align: justify !important;
    }
    
    .photoimg img {
        box-shadow: 2px 2px 16px 0 rgb(0 0 0 / 16%);
        border-radius: 5px;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    /* Testmonial Section */
    /* DOt */
    
    .testmonial-section {
        position: relative;
        padding: 120px 0;
        background-color: #f5f5f5;
        box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 32%);
    }
    
    .testmonial-section .auto-container {
        position: static;
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .testmonial-section .sec-title {
        margin-bottom: 50px;
    }
    
    .text-center {
        text-align: center !important;
    }
    
    .testmonial-section .sec-title h2 {
        position: relative;
        display: inline-block;
        font-size: 32px;
        line-height: 1.2em;
        color: #1e1f36;
        font-weight: 300;
    }
    
    .testmonial-section .sec-title .text {
        position: relative;
        font-size: 21px;
        line-height: 28px;
        color: #999999;
        margin-top: 20px;
        margin-bottom: 16px;
    }
    
    .testmonial-section .slide-container .row {
        display: flex;
        flex-wrap: wrap;
        height: 550px;
        align-items: center;
    }
    
    .slide-container .mr-3 {
        width: 150px;
        height: 150px;
        border-radius: 150px;
        object-fit: cover;
        margin-right: 1rem !important;
    }
    
    .slide-container .slide-1,
    .slide-2,
    .slide-3,
    .slide-4 {
        width: 50%;
        text-align: center;
        align-items: center;
    }
    
    .testmonial-section b {
        text-transform: uppercase;
        color: #8e8e8e;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
    }
    
    .testmonial-section .centered {
        position: relative;
        font-size: 19px;
        line-height: 26px;
        color: #888888;
        text-align: center;
        font-weight: 400;
        margin-bottom: 1rem;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .slide-container .testimo {
        padding-bottom: 18px;
    }
    /* FOR Sliding */
    
    .slide-row {
        width: 1200px;
        height: 550px;
        overflow: hidden;
    }
    
    .client-fb {
        width: 500%;
        height: 550px;
        display: flex;
    }
    
    .slide-row .slide-container {
        width: 1200px;
        height: 550px;
        margin: 0;
        transition: 3s;
    }
    
    .auto-container input {
        display: none;
    }
    /* navigation manual */
    
    .navigation-manual {
        position: absolute;
        width: 1200px;
        margin-top: 500px;
        display: flex;
        justify-content: center;
    }
    
    .manual-btn {
        border: 2px solid #8f8c8e;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 2s;
    }
    
    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }
    
    .manual-btn:hover {
        background: #ce838300;
    }
    
    #radio1:checked~.first {
        margin-left: 0;
    }
    
    #radio2:checked~.first {
        margin-left: -20%;
    }
    
    #radio3:checked~.first {
        margin-left: -40%;
    }
    
    #radio4:checked~.first {
        margin-left: -60%;
    }
    /* Navigation Auto */
    
    .navigation-auto {
        position: absolute;
        display: flex;
        width: 1200px;
        justify-content: center;
        margin-top: 500px;
    }
    
    .navigation-auto div {
        border: 2px solid #969696;
        padding: 5px;
        border-radius: 10px;
        transition: 2s;
    }
    
    .navigation-auto div:not(:last-child) {
        margin-right: 40px;
    }
    
    #radio1:checked~.navigation-auto .auto-btn1 {
        background: #727272;
    }
    
    #radio2:checked~.navigation-auto .auto-btn2 {
        background: #727272;
    }
    
    #radio3:checked~.navigation-auto .auto-btn3 {
        background: #727272;
    }
    
    #radio4:checked~.navigation-auto .auto-btn4 {
        background: #727272;
    }
    /* Video Section */
    
    .video-section {
        position: relative;
        padding: 100px 0 100px;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 32%);
    }
    
    .video-section .auto-container {
        position: static;
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .video-section .centered {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.6em;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
    }
    
    .video-section h2 {
        font-size: 2rem;
        color: #777;
    }
    
    .video-section p {
        color: #999;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    
    .video-section a {
        text-decoration: none;
    }
    
    .video-section .btn-style-one {
        position: relative;
        padding: 10px 30px;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        background-color: #e72d95;
        overflow: hidden;
        border-radius: 0px;
    }
    
    .video-section .theme-btn {
        transition: all 700ms ease;
        display: inline-block;
    }
    
    .video-section a:hover {
        color: rgb(8, 5, 5);
        background-color: #fff;
    }
    /* Gallery Section */
    
    .gallery-section {
        position: relative;
        padding: 0;
    }
    
    .gallery-section .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .gallery-section .galleryimg {
        vertical-align: middle;
    }
    
    .gallery-section img {
        width: 100%;
    }
    
    .gallery-section .row .col-lg-2 {
        padding: 0;
        flex: 16.66%;
        margin: 0;
    }
    /* News Section */
    
    .news-section {
        position: relative;
        padding: 61px 0 10px;
        background-color: #f5f5f5;
        box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 32%);
    }
    
    .news-section .auto-container {
        position: static;
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .news-section .sec-title {
        position: relative;
        margin-bottom: 70px;
    }
    
    .news-section .sec-title h2 {
        position: relative;
        display: inline-block;
        font-size: 32px;
        line-height: 1.2em;
        color: #1e1f36;
        font-weight: 300;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
    }
    
    .news-section .text-center {
        text-align: center !important;
    }
    
    .news-section .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    
    .news-section .row .col-lg-4 {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .news-section .news-block img {
        width: 100%;
    }
    
    .news-section .news-block {
        position: relative;
        margin-bottom: 40px;
        width: 33.33%;
        height: auto;
        overflow: hidden;
    }
    
    .news-section .news-block .inner-box {
        position: relative;
        background-color: #fff;
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    }
    
    .news-section .news-block .image-box {
        position: relative;
    }
    
    .news-section .news-block .lower-content {
        position: relative;
        padding: 20px 30px 30px;
    }
    
    .news-section .news-block h4 {
        position: relative;
        display: block;
        font-size: 22px;
        line-height: 1.4em;
        color: #222222;
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .news-section .news-block .justi {
        text-align: justify !important;
    }
    
    .news-section .news-block p {
        position: relative;
        font-size: 16px;
        line-height: 26px;
        color: #888888;
        font-weight: 400;
    }
    
    .news-section .news-block a {
        text-decoration: none;
        color: #222222;
    }
    
    .news-section .news-block a:hover {
        color: #eb1da6cc;
        text-decoration: none;
    }
    /* Why Choose US Section */
    
    .why-choose-us {
        position: relative;
        background-color: #e8ecef;
        padding: 0 0 0;
    }
    
    .why-choose-us .auto-container {
        position: static;
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .why-choose-us .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .why-choose-us img {
        width: 100%;
    }
    
    .why-choose-us .image-column {
        width: 50%;
        padding-right: 15px;
        margin-bottom: 50px;
    }
    
    .why-choose-us .content-column {
        width: 50%;
    }
    
    .why-choose-us h2 {
        font-family: Patrick Hand, cursive;
        color: #1e73be;
    }
    
    .why-choose-us .sec-title h2 {
        position: relative;
        display: inline-block;
        font-size: 32px;
        line-height: 1.2em;
        font-weight: 300;
    }
    
    .why-choose-us .text {
        font-family: Patrick Hand, cursive;
        color: #000;
        position: relative;
        font-size: 16px;
        line-height: 28px;
        margin-top: 20px;
    }
    
    .why-choose-us .content-column .sec-title {
        position: relative;
        margin-bottom: 30px;
    }
    
    .why-choose-us .content-column .inner-column {
        position: relative;
        padding-top: 20px;
    }
    /* WE Are Hiring Section  */
    
    .we-are-hiring {
        position: relative;
        padding: 30px 0 30px;
        background-color: #f5f5f5;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .we-are-hiring .auto-container {
        position: static;
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .we-are-hiring .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .we-are-hiring .col-lg-12 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .we-are-hiring .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .we-are-hiring .col-lg-2 {
        flex: 0 0 16.666%;
        max-width: 16.666%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .we-are-hiring .foticn i {
        background-color: #fff;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        padding: 27px 4px 46px 38px;
        line-height: 1;
        font-size: 88px;
        color: #888;
    }
    
    .we-are-hiring h4 {
        position: relative;
        font-weight: normal;
        margin: 0px;
        background: none;
        line-height: 1.6em;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
        font-size: 1.5rem;
        color: #999;
    }
    
    .we-are-hiring p,
    .text {
        position: relative;
        font-size: 16px;
        line-height: 26px;
        color: #888888;
        font-weight: 400;
    }
    
    .we-are-hiring p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .we-are-hiring .theme-btn {
        border: 2px solid black;
    }
    
    .we-are-hiring .theme-btn:hover {
        border-color: rgba(236, 44, 195, 0.884);
        color: rgba(236, 44, 195, 0.884);
    }
    
    .we-are-hiring .btn-style-one1 {
        position: relative;
        padding: 10px 30px;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
        font-weight: 400;
        text-align: center;
        overflow: hidden;
        background-color: white;
    }
    
    .we-are-hiring .btn-title:hover {
        color: rgba(236, 44, 195, 0.884);
    }
    /* Foot Pink Section */
    
    .footpink-section {
        background-color: #e82d96;
        padding: 10px 0px 10px;
    }
    
    .footpink-section .auto-container {
        position: static;
        padding: 0 15px;
        margin: 0 auto;
        max-width: 1200px;
    }
    
    .footpink-section .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    
    .footpink-section .col-lg-8 {
        flex: 66.66%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .footpink-section .col-lg-4 {
        flex: 33.33%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
        top: 30px;
        font-size: 20px;
    }
    
    .footpink-section .clr {
        color: #fff !important;
    }
    
    .footpink-section h4 {
        font-size: 1.5rem;
        position: relative;
        font-weight: normal;
        margin: 0px;
        background: none;
        line-height: 1.6em;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
    }
    
    .footpink-section p,
    .text {
        position: relative;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }
    
    .footpink-section p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .footpink-section a:hover {
        background-color: #e82d96;
    }
    
    .footpink-section .btn-title {
        color: white;
    }
    
    .footpink-section .btn-title:hover {
        color: #007bff;
    }
    /* Footer Section */
    
    .main-footer {
        position: relative;
        background-color: #000000;
    }
    
    .main-footer .widgets-section {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 50px 0 0px;
    }
    
    .main-footer .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .main-footer .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    
    .main-footer .big-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .main-footer .col-xl-6 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .main-footer .footer-column {
        position: relative;
        margin-bottom: 40px;
    }
    
    .main-footer .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .main-footer .col-xl-4 {
        flex: 0 0 33.333%;
        max-width: 33.3333%;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .main-footer .footer-widget {
        position: relative;
    }
    
    .main-footer .footer-column .widget-title {
        position: relative;
        font-size: 24px;
        font-weight: 500;
        color: #ffffff;
        line-height: 30px;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }
    
    .footer-column .clr {
        color: #cecece !important;
    }
    
    .main-footer h6 {
        font-size: 1rem;
        position: relative;
        font-weight: normal;
        margin: 0px;
        background: none;
        line-height: 1.6em;
        font-family: Butler, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
        padding-top: 10px;
    }
    
    .main-footer .contact-list {
        position: relative;
    }
    
    .user-links li {
        position: relative;
        display: block;
        margin-bottom: 5px;
    }
    
    .user-links li a {
        position: relative;
        display: block;
        font-size: 14px;
        line-height: 30px;
        color: #9e9e9e;
        font-weight: 400;
        padding: 0 0px;
        transition: all 300ms ease;
    }
    
    .user-links li a:hover {
        color: #f20487;
        background-color: transparent;
    }
    
    .main-footer .footer-bottom {
        position: relative;
        width: 100%;
        background-color: rgb(0 0 0 / 0%);
        text-align: center;
    }
    
    .footer-bottom .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .main-footer .footer-bottom .inner-container {
        position: relative;
    }
    
    .main-footer .footer-bottom .copyright-text {
        position: relative;
        padding: 10px 0;
    }
    
    .main-footer .footer-bottom .copyright-text p {
        position: relative;
        line-height: 20px;
        font-size: 12px;
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 0;
    }
    
    .copyright-text p {
        text-align: left;
    }
    
    .footer-bottom .col-lg-8 {
        flex: 0 0 66.666%;
        max-width: 66.666%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .footer-bottom .col-lg-4 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .social-icon-one {
        position: relative;
    }
    
    .social-icon-one li {
        position: relative;
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 10px;
        font-size: 25px;
        border-radius: 25px;
    }
    
    .social-icon-one li:last-child {
        margin-right: 0;
    }
    
    .social-icon-one li a .fab {
        position: relative;
        display: block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        border-radius: 100px;
        transition: all 300ms ease;
    }
    
    .social-icon-one li a .fa-facebook-f {
        background-color: #3b5998;
    }
    
    .social-icon-one li a .fa-instagram {
        background-color: #5750d8;
    }
    
    .social-icon-one li a .fa-youtube {
        background-color: #fc0000;
    }
    
    .social-icon-one li a .fa-twitter {
        background-color: #1da0f1;
    }
    
    .social-icon-one li a .fa-pinterest {
        background-color: #bc0c20;
    }
    
    .scroll-to-top {
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 40px;
        text-align: center;
        z-index: 100;
        cursor: pointer;
        background: #e1137b;
        transition: all 100ms ease;
    }
    
    .scroll-to-top a {
        color: white;
    }
    
    .scroll-to-top a:hover {
        background-color: transparent;
    }
    
    @media (max-width:736px) {
        * {
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0;
        }
        .slide-show-content {
            width: auto;
        }
    }